/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/GdkPixbuf-2.0.gir
/GdkPixbuf-2.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gdk-pixbuf-csource
/gdk-pixbuf-enum-types.c
/gdk-pixbuf-enum-types.h
/gdk-pixbuf-features.h
/gdk-pixbuf-marshal.c
/gdk-pixbuf-marshal.h
/gdk-pixbuf-pixdata
/gdk-pixbuf-query-loaders
/gdk_pixbuf.rc
/libgdk_pixbuf-2.0.la
/libpixbufloader-ani.la
/libpixbufloader-bmp.la
/libpixbufloader-gif.la
/libpixbufloader-icns.la
/libpixbufloader-ico.la
/libpixbufloader-jpeg.la
/libpixbufloader-pcx.la
/libpixbufloader-png.la
/libpixbufloader-pnm.la
/libpixbufloader-qtif.la
/libpixbufloader-ras.la
/libpixbufloader-tga.la
/libpixbufloader-tiff.la
/libpixbufloader-wbmp.la
/libpixbufloader-xbm.la
/libpixbufloader-xpm.la
/libstatic-pixbufloader-pixdata.la
/loaders.cache
/s-enum-types-h
/so_locations
/stamp-gdk-pixbuf-marshal.h
/tags
/test-gdk-pixbuf
/tmp-gdk-pixbuf-enum-types.h
/xgen-gmc
/xgen-gmh
