/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/pixbuf-lowmem
/pixbuf-random
/pixbuf-randomly-modified
/pixbuf-read
/pixbuf-threads
/so_locations
/tags
