/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gdk-pixbuf-csource.1
/gdk-pixbuf-decl-list.txt
/gdk-pixbuf-decl.txt
/gdk-pixbuf-query-loaders.1
/gdk-pixbuf-undeclared.txt
/gdk-pixbuf-undocumented.txt
/gdk-pixbuf-unused.txt
/gdk-pixbuf.args
/gdk-pixbuf.hierarchy
/gdk-pixbuf.interfaces
/gdk-pixbuf.prerequisites
/gdk-pixbuf.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/gdk-pixbuf-unused.sgml
/version.xml
/xml
