/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gdk-pixbuf/gdk-pixbuf-csource.1
/gdk-pixbuf/gdk-pixbuf-query-loaders.1
/so_locations
/tags
